<h2>
  Debug Stats
  <app-analyzer-run-toggle class="ml-2" cssClasses="btn btn-sm btn-outline-secondary"></app-analyzer-run-toggle>
</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Variable</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Cycle</td>
    <td>{{ this.analyzer.cycle$ | async }}</td>
  </tr>
  <tr>
    <td>Framerate</td>
    <td>{{ fps }}</td>
  </tr>
  <tr>
    <td>RMS</td>
    <td>{{ rms }}</td>
  </tr>
  </tbody>
</table>
