<h2>
  Analyzer Results
  <app-analyzer-run-toggle class="ml-2" cssClasses="btn btn-sm btn-outline-secondary"></app-analyzer-run-toggle>
</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>String</th>
    <th>Intensity</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of [0, 1, 2, 3, 4, 5]">
    <td>[String {{ i }}]</td>
    <td>[Intensity {{ i }}]</td>
  </tr>
  </tbody>
</table>
