<div class="container">
  <h1 class="display-1">Guitar Trainer</h1>

  <div class="row">
    <app-analyzer-results class="col-md-6"></app-analyzer-results>

    <app-debug-stats class="col-md-6"></app-debug-stats>

    <app-trainer class="col"></app-trainer>

    <app-recorder class="col-lg-9"></app-recorder>
  </div>
</div>

<router-outlet></router-outlet>
