<h2>Recorder</h2>
<div class="btn-toolbar" role="toolbar" aria-label="recorder controls">
  <div class="btn-group mr-2" role="group" aria-label="record & export">
    <button type="button" class="btn btn-outline-danger">Record</button>
    <button type="button" class="btn btn-outline-secondary">Export</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="previous & next">
    <button type="button" class="btn btn-outline-secondary">Previous</button>
    <button type="button" class="btn btn-outline-secondary" disabled>n/a</button>
    <button type="button" class="btn btn-outline-secondary">Next</button>
  </div>
  <button type="button" class="btn btn-outline-secondary mr-2">Reset current</button>
  <div class="btn-group mr-2" role="group">
    <button *ngFor="let note of ['e2', 'a2', 'd3', 'g3', 'b3', 'e4']" type="button"
            class="btn btn-outline-secondary">{{ note }}</button>
  </div>
</div>
